__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git/
.idea/
staticfiles/
mediafiles/ # Если не хотите включать локальные медиа в образ
db_data/ # Для локальной базы данных PostgreSQL
*.sqlite3
.env